<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link id="pagestyle" th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css}" rel="stylesheet" />
    <title>
        Freelancing
    </title>
    
</head>

<body class="g-sidenav-show bg-gray-100">
    <!-- Navbar -->
    <nav class="d-flex justify-content-center navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent mt-4">
        <div class="d-flex justify-content-between w-75">
            <a class="navbar-brand font-weight-bolder ms-3 text-white col-10" href="../pages/dashboards/default.html">
              Freelancing
            </a>

            <div class="collapse navbar-collapse col-2 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav navbar-nav-hover mx-auto">
                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a th:href="@{sign-up}" role="button" class="nav-link cursor-pointer align-items-center " id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                         Register
                      </a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a th:href="@{login}" role="button" class="nav-link cursor-pointer align-items-center " id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false">
                          Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <section>
        <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('img/curved14.jpg');">
            <span class="mask bg-gradient-dark opacity-5"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-5">Welcome!</h1>
                        <p class="text-lead text-white">You can see, subscribe from lower cost, and add some mic work with Freelance App. Let's enjoy!</p>

                    </div>
                    <div class="container ">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="container-fluid">
                                    <div class="input-group mb-3">
                                        <input id="aspect" class="form-control" type="search" placeholder="Search here " aria-label="Search ">
                                        <button class="btn btn-outline-primary text-white"> <i class="fa-solid fa-magnifying-glass mx-1"></i> Find A Service</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        </div>
    </section>

    <section>
        <div class="container mainContent container--extended mt-3 mb-3">
            <div class="reassurance reassurance-Home ">
                <div class="container ">
                    <div class="text-center ">
                        <div class="reassurance-Grid row mb-3 ">
                            <div class="displayFlex alignItemsCenter justifyContentCenter col-4 ">
                                <div class="reassuranceItem reassuranceItem--1 ">
                                    <div class="displayFlex alignItemsCenter justifyContentCenter ">
                                        <div class="svgContainer ">
                                            <svg aria-hidden="true " focusable="false " width="60 " height="57 " viewBox="0 0 60 57 " xmlns="http://www.w3.org/2000/svg "><defs><linearGradient x1="100% " y1="37.018% " x2="0% " y2="62.982% " id="icon-reassurance-1
                                        "><stop stop-color="#2993D1 " offset="0% "/><stop stop-color="#4DD2B8 " offset="100% "/></linearGradient></defs><g fill="none "><path d="M58.655 13.652l-6.17 20.455a5.239 5.239 0 0 1-5.03 3.729h-27.57a5.253 5.253 0 0 1-5.173-4.333l-3.519-19.838h47.462v-.013z
                                        " fill="url(#icon-reassurance-1) "/><path d="M53.127 49.455a5.829 5.829 0 1 1-11.658 0 5.83 5.83 0 0 1 11.658 0zm-27.571 0a5.829 5.829 0 1 1-11.658 0 5.83 5.83 0 0 1 11.658 0z " fill="#2993D1 "/><path d="M29.18 27.162h3.164v3.164a1.313
                                        1.313 0 1 0 2.626 0v-3.164h3.164a1.313 1.313 0 1 0 0-2.626H34.97v-3.23a1.313 1.313 0 1 0-2.626 0v3.23H29.18a1.313 1.313 0 1 0 0 2.626z " fill="#FFF "/><path d="M19.727 42.313a7.142 7.142 0 1 0 7.142 7.142 7.15 7.15
                                        0 0 0-7.142-7.142zm0 11.658a4.516 4.516 0 1 1 0-9.031 4.516 4.516 0 0 1 0 9.031zM58.655 12.34h-46.36l-.944-5.292A7.892 7.892 0 0 0 4.97.668L1.542.063a1.314 1.314 0 1 0-.46 2.586l3.428.604a5.25 5.25 0 0 1 4.253 4.254l4.648
                                        26.218a6.552 6.552 0 0 0 6.46 5.423h27.57a6.546 6.546 0 0 0 6.29-4.661l6.17-20.455a1.373 1.373 0 0 0-.197-1.169 1.329 1.329 0 0 0-1.05-.525zm-7.431 21.374a3.91 3.91 0 0 1-3.768 2.796H19.872a3.918 3.918 0 0 1-3.873-3.256l-3.244-18.302h44.127l-5.658
                                        18.762zm-3.926 8.599a7.142 7.142 0 1 0 7.142 7.142 7.15 7.15 0 0 0-7.142-7.142zm0 11.658a4.516 4.516 0 1 1 0-9.031 4.516 4.516 0 0 1 0 9.031z " fill="#005580 "/></g></svg>

                                        </div>
                                    </div>
                                    <p>
                                        Order your microservice<br/>choice to one of our service providers
                                    </p>
                                </div>
                            </div>

                            <div class="displayFlex alignItemsCenter justifyContentCenter col-4 ">
                                <div class="reassuranceItem reassuranceItem--2 ">
                                    <div class="displayFlex alignItemsCenter justifyContentCenter ">
                                        <div class="svgContainer ">
                                            <svg width="56 " height="60 " viewBox="0 0 56 60 " xmlns="http://www.w3.org/2000/svg "><defs><linearGradient x1="93.006% " y1="0% " x2="6.994% " y2="100% " id="icon-reassurance-2 "><stop stop-color="#2993D1
                                        " offset="0% "/><stop stop-color="#4DD2B8 " offset="100% "/></linearGradient></defs><g fill-rule="nonzero " fill="none "><path d="M54.623 6.356v33.75a5.083 5.083 0 0 1-5.085 5.085H29.886l-15.14 13.538V45.191H6.42a5.083 5.083
                                        0 0 1-5.085-5.085V6.356A5.083 5.083 0 0 1 6.42 1.271h43.106a5.086 5.086 0 0 1 5.097 5.085zM38.009 35.403v-2.301c0-5.54-4.49-10.03-10.03-10.03-5.54 0-10.03 4.49-10.03 10.03v2.3h20.06zM33.432 16.08a5.453 5.453 0 1 0-10.906
                                        0 5.453 5.453 0 0 0 10.906 0z " fill="url(#icon-reassurance-2) "/><path d="M38.009 33.102v2.3h-20.06v-2.3c0-5.54 4.49-10.03 10.03-10.03 5.54 0 10.03 4.49 10.03 10.03zM33.432 16.08a5.453 5.453 0 1 1-10.906 0 5.453 5.453
                                        0 0 1 10.906 0z " fill="#FFF "/><g fill="#005580 "><path d="M49.538 0H6.42A6.359 6.359 0 0 0 .064 6.356v33.75a6.359 6.359 0 0 0 6.356 6.356h7.055V58.73c0 .5.294.952.75 1.157.163.075.341.114.52.114.313-.003.615-.115.852-.318L30.37
                                        46.475h19.17a6.358 6.358 0 0 0 6.355-6.356V6.356A6.366 6.366 0 0 0 49.538 0zm3.814 40.106a3.824 3.824 0 0 1-3.814 3.814H29.886a1.312 1.312 0 0 0-.852.317L16.017 55.882V45.19a1.275 1.275 0 0 0-1.271-1.271H6.42a3.825
                                        3.825 0 0 1-3.814-3.814V6.356A3.825 3.825 0 0 1 6.42 2.542h43.106a3.825 3.825 0 0 1 3.813 3.814v33.75h.013z "/><path d="M30.826 22.17a6.724 6.724 0 1 0-5.72 0 11.331 11.331 0 0 0-8.453 10.932v3.572h22.602v-3.572a11.221
                                        11.221 0 0 0-3.318-7.983 11.008 11.008 0 0 0-5.11-2.95zm-7.03-6.09a4.182 4.182 0 1 1 8.365 0 4.182 4.182 0 0 1-8.364 0zm12.941 18.052H19.22v-1.03a8.765 8.765 0 0 1 17.53 0v1.03h-.013z "/></g></g></svg>

                                        </div>
                                    </div>
                                    <p>
                                        Chat on the site up to <br/>safe delivery
                                    </p>
                                </div>
                            </div>

                            <div class="displayFlex alignItemsCenter justifyContentCenter col-4 ">
                                <div class="reassuranceItem reassuranceItem--3 ">
                                    <div class="displayFlex alignItemsCenter justifyContentCenter ">
                                        <div class="svgContainer ">
                                            <svg width="58 " height="60 " viewBox="0 0 58 60 " xmlns="http://www.w3.org/2000/svg "><defs><linearGradient x1="79.893% " y1="0% " x2="20.107% " y2="100% " id="icon-reassurance-3 "><stop stop-color="#2993D1
                                        " offset="0% "/><stop stop-color="#4DD2B8 " offset="100% "/></linearGradient></defs><g fill="none "><path fill="#2993D1 " d="M49.161 31.02h7.484v19.65h-7.484zM45.458 1.303a4.074 4.074 0 0 1 4.09 4.078v12.451h-8.167V5.381a4.07
                                        4.07 0 0 1 4.077-4.078zm-9.961 48.723v.013H6.787a5.495 5.495 0 0 1-5.497-5.497v-5.587h29.097v5.587a5.48 5.48 0 0 0 5.11 5.484z "/><path fill="#FFF " d="M56.645 50.67l-3.677 8.027-3.807-8.026z "/><path d="M56.645 28.31v2.71h-7.484v-2.71a3.742
                                        3.742 0 0 1 7.484 0z " fill="#4DD2B8 "/><path d="M45.458 1.303a4.084 4.084 0 0 0-4.09 4.09v39.162a5.484 5.484 0 0 1-5.497 5.496c-.13 0-.258 0-.387-.012a5.49 5.49 0 0 1-5.11-5.484v-5.587H7.755v-.065l.194-33.767a3.865
                                        3.865 0 0 1 3.896-3.846h33.613v.013z " fill="url(#icon-reassurance-3) "/><path d="M16.039 16.542a1.294 1.294 0 0 0 1.29 1.29h1.42a8.89 8.89 0 0 0 1.974 3.071 8.668 8.668 0 0 0 9.251 1.961 1.286 1.286 0 1 0-.929-2.4
                                        6.107 6.107 0 0 1-7.458-2.619h5.858a1.29 1.29 0 1 0 0-2.58h-6.658a6.414 6.414 0 0 1-.013-.71h7.433a1.29 1.29 0 0 0 0-2.58h-6.762a6.217 6.217 0 0 1 1.097-1.498 6.107 6.107 0 0 1 6.503-1.38 1.287 1.287 0 1 0 .93-2.4 8.693
                                        8.693 0 0 0-11.33 5.277h-1.329a1.29 1.29 0 1 0 0 2.58h.864c0 .233 0 .478.014.71h-.878a1.271 1.271 0 0 0-1.277 1.278z " fill="#FFF "/><path d="M50.839 17.832V5.381A5.375 5.375 0 0 0 45.459 0H11.844C8.993 0 6.658 2.297
                                        6.658 5.122l-.18 32.53H1.29A1.294 1.294 0 0 0 0 38.942v5.587a6.796 6.796 0 0 0 6.49 6.774v.013h29.007v-.013a6.784 6.784 0 0 0 7.174-6.774V19.11h6.877a1.269 1.269 0 0 0 1.29-1.277zM2.58 44.542v-4.297h26.516v4.297a6.802
                                        6.802 0 0 0 1.47 4.206H6.788a4.208 4.208 0 0 1-4.206-4.206zM40.09 5.38v39.16a4.208 4.208 0 0 1-4.517 4.194 4.209 4.209 0 0 1-3.897-4.193v-5.587a1.294 1.294 0 0 0-1.29-1.29H9.058l.18-32.53a2.58 2.58 0 0 1 2.607-2.554h29.033a5.356
                                        5.356 0 0 0-.788 2.8zm8.167 11.16H42.67V5.382a2.801 2.801 0 0 1 5.6 0v11.16h-.013z " fill="#005580 "/><path d="M34.568 27.239H13.987a1.29 1.29 0 0 0 0 2.58h20.58a1.29 1.29 0 0 0 0-2.58zm-8.129 5.277H13.987a1.29 1.29
                                        0 0 0 0 2.58h12.452a1.29 1.29 0 1 0 0-2.58zm26.464-9.239a5.039 5.039 0 0 0-5.032 5.032v22.362a.517.517 0 0 0 .013.142v.026c0 .039.013.077.013.103a.048.048 0 0 0 .013.039c.012.038.012.064.025.103 0 .013.014.026.014.038.012.026.025.065.038.09
                                        0 .008.006.014.013.014l3.806 8.039c.215.447.666.732 1.162.735h.013a1.28 1.28 0 0 0 1.161-.748l3.678-8.04V51.2c.012-.026.025-.064.038-.09a.047.047 0 0 1 .013-.026.303.303 0 0 0 .026-.103c0-.013 0-.013.013-.026a.345.345
                                        0 0 0 .012-.116v-.026c0-.039.013-.09.013-.142V28.309a5.039 5.039 0 0 0-5.032-5.032zm-2.451 26.104V32.309h4.903v17.072h-4.903zm2.451-23.523a2.45 2.45 0 0 1 2.452 2.451v1.42h-4.903v-1.42a2.45 2.45 0 0 1 2.451-2.451zm.052
                                        29.78l-1.742-3.69h3.432l-1.69 3.69z " fill="#005580 "/></g></svg>

                                        </div>
                                    </div>
                                    <p>
                                        The seller is only paid when<br/>you validate the delivery
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- mic work add on home page-->
            <section class="containerWrapper containerWrapper--suggested ">
                <div class="container ">
                    <div class="text-center ">
                        <h1 class="title-XXL textAlignCenter paddingTopGutter-XL marginBottom0 mb-3">
                            Would you like, maybe...
                        </h1>
                        <p class="title-18px textAlignCenter marginBottomGutter-L fontWeight400 ">
                            Your personalized Freelance selection
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4 ">
                    <div class="col ">
                        <div class="card ">
                            <img th:src="@{pics/pexels-pixabay-327533.jpg}" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Entreprenariat ship</h5>
                                <p class="card-text ">This is microservice which make you increase in finance world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img th:src="@{pics/pexels-miguel-á-padriñán-3785935.jpg}" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Mechanic things</h5>
                                <p class="card-text ">This is microservice which make you increase in mechnaic world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img th:src="@{pics/pexels-mica-asato-1198171.jpg}" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Innovation skills</h5>
                                <p class="card-text ">This is microservice which make you increase in creativity's world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img th:src="@{pics/pexels-anamul-rezwan-1216589.jpg}" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Civilar engineering</h5>
                                <p class="card-text ">This is microservice which make you increase in construction's world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img th:src="@{pics/pexels-andrea-piacquadio-3769021.jpg}" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Marketing skills</h5>
                                <p class="card-text ">TThis is microservice which make you increase in communication's world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img th:src="@{pics/pexels-karolina-grabowska-5882683.jpg}" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Freelance Dev</h5>
                                <p class="card-text ">This is microservice which make you increase in web App'sworld.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="containerWrapper my-3">
                <div class="container ">
                    <div class="text-center ">
                        <h2 class="title-XXL textAlignCenter marginBottom0 ">
                            Featured services
                        </h2>
                        <p class="title-18px textAlignCenter marginBottomGutter-L fontWeight400 ">
                            We love, we love: 1st choice services
                        </p>
                    </div>
                </div>
                <!-- -------- most popular mic work------- -->

                <div class="row row-cols-1 row-cols-md-3 g-4 ">
                    <div class="col ">
                        <div class="card ">
                            <img th:src="@{pics/pexels-cottonbro-4065876.jpg}" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Dev Opps</h5>
                                <p class="card-text ">Here you can have apps in real time, instantly...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img src="pics/pexels-canva-studio-3153198.jpg" class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Design Hub</h5>
                                <p class="card-text ">TThis is microservice which make you increase in graphic's world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img src="pics/pexels-emmy-e-2381069.jpg " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Mindset Hub</h5>
                                <p class="card-text ">Personal development increasing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img src="pics/pexels-fauxels-3183150.jpg " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Codee hub</h5>
                                <p class="card-text ">Developper and programmer for you web site, fastly and safely.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img src="pics/pexels-karolina-grabowska-5882683.jpg " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Freelance Dev</h5>
                                <p class="card-text ">This is microservice which make you increase in web App'sworld.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card ">
                            <img src="pics/pexels-emily-ranquist-1205651.jpg " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Academia</h5>
                                <p class="card-text ">Data science, coding, engineering, and more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br />
            <br />

            <!-- -------- for more ------- -->
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-8 mb-4 mx-auto text-center ">
                        <div class=" btn-group ">
                            <a id="visual" href="# " class="btn btn-primary active " aria-current="page ">More microservice</a>
                            <a id="visual" href="# " class="btn btn-primary ">Most popular</a>
                            <a id="visual" href="# " class="btn btn-primary ">Poular sellers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
        <footer class="footer py-5 ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-8 mb-4 mx-auto text-center ">
                        <a href="javascript:; " target="_blank " class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2 ">
                           
                            <br />
                            <br />

                            <div class="row ">
                                <div class="col-8 mx-auto text-center mt-1 ">
                                    <p class="mb-0 text-secondary ">
                                        Copyright ©
                                        <script>
                                            document.write(new Date().getFullYear())
                                        </script> by GIT4/RII1
                                    </p>
                                </div>
                            </div>
                    </div>
        </footer>
        <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
        <!--   Core JS Files   -->
        <script src="/js/core/popper.min.js "></script>
        <script src="/js/core/bootstrap.min.js "></script>
        <script src="/js/plugins/perfect-scrollbar.min.js "></script>
        <script src="/js/plugins/smooth-scrollbar.min.js "></script>
        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }
        </script>
        <!-- Github buttons -->
        <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/js/soft-ui-dashboard.min.js?v=1.0.3 "></script>
</body>

</html>