<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancing</title>
    <script src="jquery-3.6.0.js"></script>
    <script th:src="@{bootstrap-5.0.0-beta2-dist/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{FontAwesome/css/all.min.css}">

</head>
<body>
    <div class="container">
        <form action="#" method="post">
            <input class="form-control mb-2" type="text" name="firstname" id="" placeholder="Firstname">
            <input class="form-control mb-2" type="text" name="lastname" id="" placeholder="Lastname">
            <input class="form-control mb-2" type="text" name="username" id="" placeholder="Username">
            <input class="form-control mb-2" type="email" name="email" id="" placeholder="Email">
            <input class="form-control mb-2" type="text" name="gender" id="" placeholder="gender">
            <input class="form-control mb-2" type="password" name="password" id="" placeholder="Password">
            <input class="form-control mb-2" type="number" name="phoneNumber" id="" placeholder="Phone Number">
        </form>
    </div>
</body>
</html>