<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <title>
    Freelance-EPAC-GIT4-RII1
  </title>
  <link id="pagestyle" th:href="@{css/main.css}" rel="stylesheet" />
  <link th:href="@{css/main.css}" rel="stylesheet" />
  <link th:href="@{bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent mt-4">
    <div class="container">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="#">
        Freelance
      </a>
    </div>
  </nav>
  <!-- End Navbar -->
  <section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('img/curved14.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5">Freelancing</h1>
            <p class="text-lead text-white">In order to perform your registration, please enter your e-mail address. Also choose a username, which will allow you to log in and will be displayed on your purchases and sales.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-6 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5>Register</h5>
            </div>
            <div class="card-body">
              <form role="form text-left" th:action="@{/sign-up}" th:object="${user}" method="POST">
                <h4 class="title-L">Your account</h4>
                <div class="mb-3">
                  <input type="text" class="form-control last_name" placeholder="Last name" aria-label="LastName" th:field="*{lastname}">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control first_name" placeholder="First name" aria-label="FirstName" th:field="*{firstname}">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon" th:field="*{email}">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Username" aria-label="username" th:field="*{username}">
                </div>
                
                <div class="mb-3">
                  <input type="number" min="0" class="form-control" placeholder="Phone Number" aria-label="phoneNumber" th:field="*{phoneNumber}">
                </div>
                <h4 class="title-M">Gender</h4>
                <div class="form-check form-check-inline">
                    <input type="radio" id="gender_male" name="gender" required="required" class="form-check-input" value="M" checked="" th:field="*{gender}">
                      <label class="form-check-label gender_male_label fontWeight400 required" for="gender_male">
                        Male
                      </label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input type="radio" id="gender_female" name="gender" required="required" class="form-check-input" value="F" th:field="*{gender}">
                      <label class="form-check-label gender_male_label fontWeight400 required" for="gender_female">
                        Female
                      </label>
                </div>
                <h4 class="title-M">Password</h4>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon" th:field="*{password}">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Confirm your password" aria-label="confirm-Password" aria-describedby="confirm-password-addon">
                </div>
                <h4 class="title-M">Your profile </h4>
                <p class="instruction_register">
                  Please let us know the account type you're creating by choosing among account types below.
                </p>
                
                <div class="registration-form-inline">
                  <div class="form-check form-check-inline">
                    <input type="radio" id="registration_wish_buy" name="registration" required="required" class="form-check-input" value="customer" checked="checked" th:field="*{role}">
                      <label class="form-check-label fontWeight400 required" for="registration_wish_buy">
                        I want to buy
                      </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" id="registration_wish_sell" name="registration" required="required" class="form-check-input" value="provider" th:field="*{role}">
                      <label class="form-check-label fontWeight400 required" for="registration_wish_sell">
                        I want to sell
                      </label>
                  </div>
                  <div class="form-check form-check-inline">
                   <input type="radio" id="registration_wish_both" name="registration" required="required" class="form-check-input" value="both" th:field="*{role}">
                    <label class="form-check-label fontWeight400 required" for="registration_wish_both">
                      Both
                    </label>
                  </div>
                </div>

                <div class="form-check form-check-info text-left">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                  <label class="form-check-label" for="flexCheckDefault">
                    I agree with <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                  </label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Validate my registration</button>
                </div>
                <p class="text-sm mt-3 mb-0">Already have an account? <a th:href="@{login}" class="text-dark font-weight-bolder">Sign in</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer py-5">
    <div class="container">
      
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            Copyright © <script>
              document.write(new Date().getFullYear())
            </script> by GIT4/RII.
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>